.calendarWrapper {
  border: black 4px solid;
  width: 525px;
  margin: 0 auto;
}
.calendarTitle {
  text-align: center;
  padding: 5px;
  font-weight: 700;
  grid-column: span 7;
  border: aqua;
  background-color: aqua;
}
.calendar {
  display: grid;
  grid-template-columns: 75px 75px 75px 75px 75px 75px 75px;
  background-color: grey;
}
.calendarCell {
  border: rgb(120, 179, 206) 1px solid;
  text-align: center;
  padding: 3px;
  background-color: white;
}
.calendarCell:hover {
background-color: lightgrey;
border: black 1px solid;
}

.blankDay {
  border: aqua;
  text-align: center;
  padding: 3px;
  display: none;
}
.new {
  text-align: center;
  padding: 5px;
}

